<div>
  <div class="card">
    <form action="">
      <div class="mb-3">
        <label for="reply" class="form-label">Reply</label>
        <textarea
          class="form-control"
          id="reply"
          name="reply"
          onkeyup="textAreaAdjust(this)"
          style="overflow: hidden"
        ></textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Reply</button>
      </div>
    </form>
  </div>
</div>
