<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <%- include('./partials/head') %>
  </head>
  <body style="background-color: #10172a; color: white">
    <%- include('./partials/nav') %>
    <div class="container mt-5">
      <h1
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 7rem;
        "
      >
        Login
      </h1>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form class="w-50 mx-auto" action="/user/login" method="post">
            <% if (locals.error) { %>
            <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                name="email"
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>

            <button type="submit" class="btn-block btn btn-primary">
              Login
            </button>
          </form>
          <p class="text-center p-3">
            Not Have Account?
            <a href="/user/signup" class="btn btn-outline-primary p-1"
              >Signup</a
            >
          </p>
        </div>
      </div>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
