<!DOCTYPE html>
<html lang="en">
  <head>
    <% include('./partials/head') %>
    <title>setting</title>
  </head>
  <body style="background-color: #10172a; color: white">
    <%- include('./partials/nav') %>
    <div class="container">
      <form action="/user/setting" method="post" style="width: 50%">
        <div
          class="profile-container"
          style="
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
          "
        >
          <label for="file-input">
            <img
              src="<%= loggedInUser.profileImageUrl %>"
              style="border-radius: 50%; margin: 10px"
              width="50"
              alt="profileImg"
              class="profile-image"
            />
            <div class="edit-icon"><i class="fas fa-pencil-alt"></i></div>
          </label>
          <h3><%= loggedInUser.fullName %></h3>
        </div>

        <input style="display: none" id="file-input" type="file" name="file" />

        <label for="changeName">change Name : </label>
        <input
          type="text"
          id="changeName"
          name="changeName"
          class="form-control"
        />
        <label for="changeEmail">change Email : </label>
        <input
          type="email"
          id="changeEmail"
          name="changeEmail"
          class="form-control"
        />
        <label for="changePassword">change Password : </label>
        <input
          type="password"
          id="changePassword"
          name="changePassword"
          class="form-control"
        />
        <button type="submit" class="btn btn-primary mt-3">Save change</button>
      </form>
      <div>
        <label class="mt-5"> Delete Your Account : </label>
        <a href="/user/deleteuser" id="deleteButton" class="btn btn-danger"
          >Delete</a
        >
      </div>
    </div>

    <% include('./partials/script') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success m-2",
          cancelButton: "btn btn-danger m-2",
        },
        buttonsStyling: false,
      });
      document
        .getElementById("deleteButton")
        .addEventListener("click", function (event) {
          event.preventDefault();

          swalWithBootstrapButtons
            .fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonText: "Yes, delete it!",
              cancelButtonText: "No, cancel!",
              reverseButtons: true,
            })
            .then((result) => {
              if (result.isConfirmed) {
                // Proceed with the deletion by navigating to the delete endpoint
                window.location.href = this.href;
              } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                  title: "Cancelled",
                  text: "Your blog post is safe :)",
                  icon: "error",
                });
              }
            });
        });
    </script>
  </body>
</html>
